<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.s14p11c204.server.domain.user.Repositories.UserMapper">

    <!-- User 테이블과 User 객체 매핑 -->
    <resultMap id="UserResultMap" type="com.ssafy.s14p11c204.server.domain.user.User">
        <id property="id" column="user_id"/>
        <result property="email" column="email"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <result property="imageLink" column="profile_image_url"/>
        <result property="provider" column="provider"/>
        <result property="isActive" column="is_active"/>
        <result property="mmr" column="mmr"/>
        <result property="createdAt" column="created_at"/>
        <result property="deviceToken" column="device_token"/>
    </resultMap>

    <!-- 이메일 중복 체크 -->
    <select id="existsByEmail" parameterType="string" resultType="boolean">
        SELECT EXISTS(
            SELECT 1 
            FROM users 
            WHERE email = #{email}
        )
    </select>

    <!-- 사용자 저장 (회원가입) -->
    <insert id="signup" parameterType="com.ssafy.s14p11c204.server.domain.user.User" 
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (email, nickname, password, role, provider, is_active, profile_image_url, mmr, created_at, device_token)
        VALUES (#{email}, #{nickname}, #{password}, #{role}::user_role, #{provider}::provider_type , #{isActive}, #{imageLink}, #{mmr}, CURRENT_TIMESTAMP, #{deviceToken})
    </insert>

    <!-- 이메일로 사용자 조회 (로그인 시 사용) -->
    <select id="findByEmail" parameterType="string" resultMap="UserResultMap">
        SELECT user_id, email, nickname, password, role
        FROM users
        WHERE email = #{email}
    </select>

    <select id="findById" parameterType="long" resultMap="UserResultMap">
        SELECT *
        FROM users
        WHERE user_id = #{userId}
    </select>

    <!-- 이메일로 카카오 사용자 조회 -->
    <select id="findKakaoByEmail" parameterType="map" resultMap="UserResultMap">
        SELECT user_id, email, nickname, password, role, provider
        FROM users
        WHERE provider = #{provider}::provider_type
        AND email = #{email}
    </select>

    <!-- 사용자 정보 업데이트 -->
    <update id="update" parameterType="com.ssafy.s14p11c204.server.domain.user.User">
        UPDATE users 
        SET profile_image_url = #{imageLink}, 
            device_token = deviceToken
        WHERE email = #{email}
    </update>

    <!-- 사용자 비밀번호 업데이트 -->
    <update id="updatePassword" parameterType="com.ssafy.s14p11c204.server.domain.user.User">
        UPDATE users 
        SET password = #{password}
        WHERE email = #{email}
    </update>

    <!-- 사용자 회원탈퇴 -->
    <delete id="unregister" parameterType="string">
        DELETE FROM users
        WHERE email = #{email}
    </delete>

    <!-- MMR 히스토리 조회 -->
    <select id="findMmrHistoryByUserId" resultType="com.ssafy.s14p11c204.server.domain.user.dto.MmrHistoryDto">
        SELECT
            user_id as userId,
            game_id as gameId,
            change_value as changeValue,
            result_mmr as finalMmr,
            created_at as createdAt,
            reason
        FROM mmr_history
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

</mapper>
